@{
    ViewBag.Title = "Home Page";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li class="active">About our Company</li>
</ol>

<div class="jumbotron">
    <h1>This is an awesome Music Store.</h1>
    <div class="fb-like"
         data-share="true"
         data-width="450"
         data-show-faces="true">
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Newest albums on store.</div>
        <div class="panel-body">
            <p class="text-info"><span class="glyphicon glyphicon-check"></span> The Beatles-Abbey Road <button type="button" class="btn btn-primary btn-sm">Buy Now. <span class="glyphicon glyphicon-shopping-cart"></span></button></p>
            <p class="text-info"><span class="glyphicon glyphicon-check"></span> The Beatles-Magical Mistery Tour <button type="button" class="btn btn-primary btn-sm">Buy Now. <span class="glyphicon glyphicon-shopping-cart"></span></button></p>  
        </div>
    </div>
</div>

<div class="row">
        <div class="col-md-4">
            <h2 style="text-align:center">Album</h2>
            <img src="https://www.smashingmagazine.com/images/music-cd-covers/64.jpg" alt="Responsive-Image" class="img-responsive img-rounded" />
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="text-align:center">Album</h2>
            <img src="http://0.design-milk.com/images/2010/02/keane-perfect-symmetry.jpg" alt="Responsive-Image" class="img-responsive img-rounded" />
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="text-align:center">Album</h2>
            <img src="https://www.smashingmagazine.com/images/music-cd-covers/keane_under_the_iron_sun.jpg" alt="Responsive-Image" class="img-responsive img-rounded" />
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>

<div class="row">
        <div class="col-md-4">
            <h2 style="text-align:center">Album</h2>
            <img src="http://weddingphotography.com.ph/wp-content/uploads/2011/02/03-how-to-photograph-group-portraits-for-music-album-cover-simple-plan.jpg" alt="Responsive-Image" class="img-responsive img-rounded" />
            <p>
                This column is medium size 4
            </p>
            <p><a class="btn btn-primary">Test &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="text-align:center">Album</h2>
            <img src="http://d3na4zxidw1hr4.cloudfront.net/site_media/uploads/images/posts/f/maroon-5-worst-album-covers_jpg_630x640_q85.jpg" alt="Responsive-Image" class="img-responsive img-rounded" />
            <p>
                This column is medium size 4
            </p>
            <p><a class="btn btn-primary">Test &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2 style="text-align:center">Album</h2>
            <img src="http://i.kinja-img.com/gawker-media/image/upload/a0gctnljoglp7mrx80us.gif" alt="Responsive-Image" class="img-responsive img-rounded" />
            <p>
                This column is medium size 4
            </p>
            <p><a class="btn btn-primary">Test &raquo;</a></p>
        </div>
    </div>

<ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>



